html(ng-app="app")
    head
        title= 'Artillar Testing Site'
        script(src='/angular/angular.min.js')
        script(src='/chart.js/dist/Chart.min.js')
        script(src='/angular-chart.js/dist/angular-chart.min.js')
        script(src='/app/app.js')
        //todo: dont know why livereload is not loading,
        script(src='http://127.0.0.1:35729/livereload.js')
        link(rel="stylesheet", type="text/css", href='/bootstrap/dist/css/bootstrap.min.css')
        link(href="https://fonts.googleapis.com/css?family=Ubuntu", rel="stylesheet")
        link(href="/css/style.css", rel="stylesheet")
    body(ng-controller="ParentController")
        div(class="loading", ng-show="loading")
            img(src="/img/loading.gif")
        div(ng-show="loading == false")
            nav(class="navbar navbar-default sidebar", role="navigation")
                div(class="container-fluid")
                    div(class="navbar-header")
                        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-sidebar-navbar-collapse-1")
                            span(class="sr-only") Toggle navigation
                            span(class="icon-bar")
                            span(class="icon-bar")
                            span(class="icon-bar")
                    div(class="collapse navbar-collapse", id="bs-sidebar-navbar-collapse-1")
                        ul(class="nav navbar-nav")
                            li
                                a(href="#")
                                    | Artillar Testing
                                    span(class="pull-right hidden-xs showopacity glyphicon glyphicon-signal logo")
                            li
                                a(href="/")
                                    | Data
                                    span(class="pull-right hidden-xs showopacity glyphicon glyphicon-floppy-disk")
                            li
                                a(href="/runnabletests")
                                    | Runable Tests
                                    span(class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks")
            div(class="container-fluid content")
                block content