body{
	font-family: 'Ubuntu', sans-serif;
}
.logo{
	color: #21ad21;
	border: solid 3px #21ad21;
	padding: 5px;
	margin: 5px;
	border-radius: 15px 5px 5px;
}

input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

input.ng-valid.ng-touched {
	background-color: #78FA89;
}